.p-width {
  width: 5rem;
}

.b-width {
  width: 1.8rem;
  height: 1.8rem;
}

.facilities-width {
  margin-left: 3rem;
}

.paid-status {
  color: green !important;
}

.unpaid-status{
  color: red !important;
}
