<div class="card">
  <div class="flex justify-content-between">
    <div class="flex gap-3">
      <p-dropdown
        class="filter-width"
        [options]="reservationTypes"
        [(ngModel)]="selectedReservationType"
        optionLabel="description"
        placeholder="Seleccione tipo de reserva"
        (ngModelChange)="filterReservationType($event)" />
      <p-dropdown
        class="filter-width"
        [options]="schedules"
        [(ngModel)]="selectedSchedule"
        optionLabel="description"
        placeholder="Seleccione turno"
        (ngModelChange)="filterSchedule($event)" />
    </div>

    <div class="flex gap-3">
      <p-calendar
        class="filter-width"
        [(ngModel)]="startDate"
        dateFormat="dd/mm/yy"
        (ngModelChange)="filterStartDate($event)" />

      <p-calendar
        class="filter-width"
        [(ngModel)]="endDate"
        dateFormat="dd/mm/yy"
        (ngModelChange)="filterEndDate($event)" />
    </div>

    <div class="flex">
      <button
        pButton
        pRipple
        class="p-button-primary"
        label="Exportar"
        (click)="export()"></button>
    </div>
  </div>

  <app-table-pagination
    [data]="(reservations | async) ?? []"
    [columns]="columns"
    [callToAction]="callToAction"
    [cellToAction]="cellToAction"
    [total]="(total | async) ?? 0"
    [limit]="limit"
    (paginateSelected)="onPageSelected($event)"
    [rowsPerPageOptions]="[10, 20, 50]"></app-table-pagination>
</div>
