::ng-deep {
  .p-paginator {
    border-radius: 0;
  }
}

.available-status {
  border-color: var(--green-200) !important;
}

.product-badge.available-status {
  background: var(--green-200) !important;
  color: var(--green-800) !important;
}

.in-use-status {
  border-color: #D9534F !important;
}

.product-badge.in-use-status{
  background: #D9534F !important;
  color: #FFFFFF !important;
}

.margin-box {
  margin-top: 22px;
}
