<div class="mb-3 flex justify-content-center">
  <span class="p-input-icon-left p-input-icon-right mb-2 w-full">
    <span class="search-icon">
      <i class="pi pi-search"></i>
    </span>
    <input
      pinputtext=""
      type="text"
      placeholder="Buscar por nombre"
      class="p-inputtext w-full"
      [(ngModel)]="nameQuery"
      (input)="onSearchTermChange($event)" />
    <span class="clear-icon" *ngIf="nameQuery" (click)="clearFilter()">
      <i class="pi pi-times" style="font-size: 12px"></i>
    </span>
  </span>
</div>

@if ((products | async)!.length > 0) {
  @for (product of products | async; track $index) {
    <div
      class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 surface-border">
      <div class="flex-auto lg:ml-3">
        <div class="flex align-items-center justify-content-between">
          <div class="flex align-items-center">
            <span class="text-900 font-bold mr-2">
              X{{ product.quantity }} {{ product.name }}
            </span>
          </div>

          <div class="flex align-items-center justify-content-end gap-2">
            <p-inputNumber
              [(ngModel)]="product.quantity"
              (ngModelChange)="addProduct(product)"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              decrementButtonClass="p-button-primary"
              incrementButtonClass="p-button-primary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [inputId]="'number-' + $index" />
            <span class="text-900 font-bold"> S/ {{ product.total }}</span>
          </div>
        </div>
        <div style="text-align: start !important">
          <div class="text-600 text-sm">Precio Unit. {{ product.price }}</div>
        </div>
      </div>
    </div>
  }
}
