<p-toast />
<div class="mt-3">
  <p-pickList
    [source]="sourceProducts"
    [target]="targetProducts"
    sourceHeader="Disponibles"
    targetHeader="Seleccionados"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem', width: '30rem' }"
    [targetStyle]="{ height: '30rem', width: '30rem' }"
    [showSourceControls]="false"
    [showTargetControls]="false"
    (onMoveToTarget)="addProduct($event)"
    (onMoveAllToTarget)="addProduct($event)"
    (onMoveToSource)="removeProduct($event)"
    (onMoveAllToSource)="removeProduct($event)"
    filterBy="name"
    sourceFilterPlaceholder="Buscar por nombre"
    targetFilterPlaceholder="Buscar por nombre"
    breakpoint="1400px">
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold" *ngIf="!sourceProducts!.includes(product)">
            X{{ product.quantity }} {{ product.name }}
          </span>
          <span class="font-bold" *ngIf="sourceProducts!.includes(product)">
            {{ product.name }}
          </span>
          <div
            class="flex align-items-center gap-2"
            *ngIf="!sourceProducts!.includes(product)">
            <i class="pi pi-tag text-sm"></i>
            <span> Precio Unit. {{ product.price }} </span>
          </div>
          <div
            class="flex align-items-center gap-2"
            *ngIf="sourceProducts!.includes(product)">
            <i class="pi pi-tag text-sm"></i>
            <span> {{ product.productType }} </span>
          </div>
        </div>
        <span
          class="font-bold text-900"
          *ngIf="!sourceProducts!.includes(product)">
          S/ {{ product.price * product.quantity }}
        </span>
        <span
          class="font-bold text-900"
          *ngIf="sourceProducts!.includes(product)">
          S/ {{ product.price * product.quantity }}
        </span>
        <ng-container *ngIf="sourceProducts!.includes(product)">
          <p-inputNumber
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            [min]="1"
            inputStyleClass="w-2rem text-center py-2 px-1 border-transparent outline-none shadow-none"
            [(ngModel)]="product.quantity"
            class="border-1 surface-border border-round"
            decrementButtonClass="p-button-text text-600 hover:text-primary py-1 px-1"
            incrementButtonClass="p-button-text text-600 hover:text-primary py-1 px-1"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </ng-container>
      </div>
    </ng-template>
  </p-pickList>
</div>
