@if (form) {
  <form [formGroup]="form" (ngSubmit)="cashSaveButton()" class="pt-2">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-6">
        <app-input-text
          class="w-full"
          label="Caja chica"
          for="pettyCashAmount"
          type="text"
          id="pettyCashAmount"
          placeholder="Ingrese monto de caja chica"
          controlName="pettyCashAmount"
          pKeyFilter="num"></app-input-text>
      </div>
      <div class="field col-12 md:col-6">
        <app-input-text
          class="w-full"
          label="Monto inicial"
          for="initialAmount"
          type="text"
          id="initialAmount"
          placeholder="Ingrese monto inicial"
          controlName="initialAmount"
          pKeyFilter="num"></app-input-text>
      </div>
      <button
        type="submit"
        pButton
        label="Guardar"
        class="mt-3"
        [disabled]="!isFormValid"></button>
    </div>
  </form>
}
