<div class="card">
  <div class="flex align-items-center justify-content-between">
    <div class="flex gap-3">
      <p-button
        icon="pi pi-plus"
        label="Ingreso"
        (click)="incomeCashCreate()"></p-button>
      <p-dropdown
        class="filter-width"
        [options]="schedules"
        [(ngModel)]="selectedSchedule"
        optionLabel="description"
        placeholder="Seleccione turno"
        (ngModelChange)="filterSchedule($event)" />
    </div>
    <div class="flex gap-3">
      <p-calendar
        class="filter-width"
        [(ngModel)]="startDate"
        dateFormat="dd/mm/yy"
        (ngModelChange)="filterStartDate($event)" />

      <p-calendar
        class="filter-width"
        [(ngModel)]="endDate"
        dateFormat="dd/mm/yy"
        (ngModelChange)="filterEndDate($event)" />
    </div>
    <p-button
      icon="pi pi-minus"
      label="Salida"
      (click)="expenseCashCreate()"></p-button>
  </div>
  <app-table-pagination
    [data]="(cashes | async) ?? []"
    [columns]="columns"
    [callToAction]="callToAction"
    [cellToAction]="cellToAction"
    [total]="(total | async) ?? 0"
    [limit]="limit"
    (paginateSelected)="onPageSelected($event)"
    [rowsPerPageOptions]="[10, 20, 50]"></app-table-pagination>
</div>
