::ng-deep {
  .p-calendar {
    width: 13.5rem;
    .p-inputtext {
      text-align: center;
    }
  }

  .p-calendar.p-calendar-w-btn {
    width: 100%;
  }

  .p-datepicker table th {
    padding: 0;
  }

  .p-datepicker table td {
    padding: 0;
  }

  .p-datepicker table td > span {
    width: 1.5rem;
    height: 1.5rem;
  }

  .p-datepicker .p-datepicker-buttonbar {
    padding: 0;
  }

  .p-datepicker .p-datepicker-header {
    padding: 0rem;
  }
}
