@if (form) {
  <form [formGroup]="form" (ngSubmit)="buttonSaveHour()" class="pt-2">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12">
        <app-input-text
          label="Duración (horas)"
          for="duration"
          type="text"
          id="duration"
          placeholder="Ingrese la duración"
          controlName="duration"></app-input-text>
      </div>
      <button
        type="submit"
        pButton
        label="Guardar"
        class="mt-3"
        [disabled]="!isFormValid"></button>
    </div>
  </form>
}
