@if (form) {
  <div class="card">
    <form [formGroup]="form" (ngSubmit)="buttonUpdateCompany()">
      <h5 class="mb-4">Empresa</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <app-input-text
            placeholder="Ingrese razón social"
            label="Razón Social"
            controlName="businessName"></app-input-text>
        </div>
        <div class="field col-12 md:col-6">
          <app-input-text
            placeholder="Ingrese representante legal"
            label="Representante legal"
            controlName="representativeLegal"></app-input-text>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <app-input-text
            placeholder="Ingrese email"
            label="Email"
            controlName="email"></app-input-text>
        </div>
        <div class="field col-12 md:col-6">
          <app-input-text
            placeholder="Ingrese número de celular"
            label="Celular"
            controlName="phoneNumber"></app-input-text>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
          <app-input-text
            placeholder="Ingrese dirección"
            label="Dirección"
            controlName="address"></app-input-text>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
          <app-input-textarea
            placeholder="Ingrese localización de google maps"
            label="Google Maps"
            controlName="googleMapsLocation"
            [rows]="3"
            [cols]="30"></app-input-textarea>
        </div>
      </div>
      <div class="flex justify-content-center">
        <button type="submit" pButton label="Guardar"></button>
      </div>
    </form>
  </div>
  <p-toast />
}
