::ng-deep {
  .p-calendar {
    width: 15rem;
    .p-inputtext {
      text-align: center;
    }
  }

  .p-calendar.p-calendar-w-btn {
    width: 100%;
  }

  .p-datepicker table th {
    padding: 0;
  }

  .p-datepicker table td {
    padding: 0;
  }

  .p-datepicker table td > span {
    width: 1.5rem;
    height: 1.5rem;
  }

  .p-datepicker .p-datepicker-buttonbar {
    padding: 0;
  }

  .p-datepicker .p-datepicker-header {
    padding: 0rem;
  }
}

.pi.pi-times {
  z-index: 1;
}

.pi.pi-times:hover {
  cursor: pointer;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 52%;
  color: #83888f;
  transform: translateY(-50%);
}

.clear-icon {
  position: absolute;
  right: 0.75rem;
  top: 52%;
  color: #83888f;
  transform: translateY(-50%);
}

.p-inputtext {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
