.pi.pi-times {
  z-index: 1;
}

.pi.pi-times:hover {
  cursor: pointer;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 52%;
  color: #83888f;
  transform: translateY(-50%);
}

.clear-icon {
  position: absolute;
  right: 0.75rem;
  top: 52%;
  color: #83888f;
  transform: translateY(-50%);
}

.p-inputtext {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
