@if (form) {
  <form [formGroup]="form" (ngSubmit)="buttonSaveReview()" class="pt-2">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-6">
        <app-input-text
          label="Cliente"
          for="customerName"
          type="text"
          id="customerName"
          placeholder="Ingrese nombre del cliente"
          controlName="customerName"></app-input-text>
      </div>
      <div class="field col-12 md:col-6">
        <app-input-select
          placeholder="Seleccione rating"
          label="Rating"
          controlName="rating"
          for="rating"
          [options]="ratings"
          id="rating"
          optionLabel="rating"
          optionValue="id"></app-input-select>
      </div>
      <div class="field col-12">
        <app-input-text
          label="Reseña"
          for="description"
          type="text"
          id="description"
          placeholder="Ingrese reseña del cliente"
          controlName="description"></app-input-text>
      </div>
      <button
        type="submit"
        pButton
        label="Guardar"
        class="mt-3"
        [disabled]="!isFormValid"></button>
    </div>
  </form>
}
