<div class="px-4">
  <div class="grid">
    <div
      *ngFor="let locker of lockers; let i = index"
      [ngClass]="getColumnClass()">
      <div class="text-center">
        Locker N° {{ locker.number }} - {{ locker.gender }}
      </div>
      <div
        class="border-round m-2 p-2 w-full"
        style="border: 1px solid var(--surface-d)">
        <form
          [formGroup]="reservationForms[i]"
          (ngSubmit)="buttonSaveReservation(locker, i)"
          class="p-fluid p-formgrid">
          <div class="field col-12">
            <app-input-text
              label="DNI"
              for="dni-{{ i }}"
              type="text"
              id="dni-{{ i }}"
              placeholder="Ingrese dni del cliente"
              controlName="dni"
              (input)="searchDni($event, i)"
              pattern="[0-9]*">
            </app-input-text>
          </div>
          <div class="field col-12">
            <app-input-text
              label="Nombre"
              for="name-{{ i }}"
              type="text"
              id="name-{{ i }}"
              placeholder="Ingrese nombre del cliente"
              controlName="name">
            </app-input-text>
          </div>
          <div class="field col-12">
            <app-input-text
              label="Apellidos"
              for="surname-{{ i }}"
              type="text"
              id="surname-{{ i }}"
              placeholder="Ingrese apellidos del cliente"
              controlName="surname">
            </app-input-text>
          </div>
          <button
            type="submit"
            pButton
            label="Registrar"
            class="mt-3"
            [disabled]="isRegistered[i]"></button>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
