<div class="flex justify-content-center mt-3 mb-2">
  <span class="p-input-icon-left mr-2">
    <i class="pi pi-search"></i>
    <input
      type="search"
      pInputText
      placeholder="Buscar por número"
      [(ngModel)]="number"
      (input)="onAvailableRoomFilter($event)"
      pattern="[0-9]*" />
  </span>
</div>
<div class="grid">
  <div *ngFor="let room of availableRooms | async" class="col-12 md:col-3">
    <div
      class="border-round m-2 p-2"
      style="border: 1px solid var(--surface-d)"
      [ngClass]="
        room.status === 'AVAILABLE' ? 'available-status' : 'in-use-status'
      ">
      <div class="text-center">
        <h5 class="mb-1">Habitación N° {{ room.number }}</h5>
        <h6 class="mt-0 mb-3">{{ room.roomType }}</h6>
        <span
          [ngClass]="
            room.status === 'AVAILABLE'
              ? 'product-badge available-status'
              : 'product-badge in-use-status'
          ">
          {{ room.roomStatus }}
        </span>
        <div class="my-5">
          <button
            *ngIf="room.status === 'AVAILABLE'"
            pButton
            pRipple
            pTooltip="Alquilar"
            tooltipPosition="bottom"
            icon="pi pi-book"
            class="mr-2 p-button-rounded p-button-warning"
            (click)="reservation(room)"></button>
          <button
            *ngIf="room.status !== 'AVAILABLE'"
            pButton
            pRipple
            pTooltip="Ver"
            tooltipPosition="bottom"
            icon="pi pi-eye"
            class="mr-2 p-button-rounded p-button-warning"
            (click)="show(room)"></button>
          <button
            *ngIf="room.status !== 'AVAILABLE'"
            pButton
            pRipple
            pTooltip="Finalizar"
            tooltipPosition="bottom"
            icon="pi pi-times"
            class="p-button-rounded p-button-secondary"
            (click)="finish(room)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-auto">
  <p-paginator
    [rows]="limit"
    [first]="first"
    [totalRecords]="(availableRoomTotal | async) ?? 0"
    [rowsPerPageOptions]="rowsPerPageOptions"
    (onPageChange)="onAvailableRoomPageChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}"
    class="paginator-custom">
  </p-paginator>
</div>
