@if (form) {
  <form [formGroup]="form" (ngSubmit)="cashSaveButton()" class="pt-2">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12">
        <app-input-text
          label="Descripción"
          for="description"
          type="text"
          id="description"
          placeholder="Ingrese descripción"
          controlName="description"
          pKeyFilter="alpha"></app-input-text>
      </div>
      <div class="field col-12">
        <app-input-text
          label="Monto"
          for="amount"
          type="text"
          id="amount"
          placeholder="Ingrese monto"
          controlName="amount"
          pKeyFilter="num"></app-input-text>
      </div>
      <button
        type="submit"
        pButton
        label="Guardar"
        [disabled]="!isFormValid"></button>
    </div>
  </form>
}
