@if (form) {
  <form [formGroup]="form" (ngSubmit)="buttonSaveUser()" class="pt-2">
    <div class="p-fluid">
      <div class="field">
        @if (userId === 0) {
          <app-input-select
            placeholder="Seleccione role"
            label="Rol"
            controlName="roleId"
            for="role"
            [options]="(roles | async) ?? []"
            id="role"
            optionLabel="name"
            optionValue="id"></app-input-select>
        }
      </div>
      <div class="field">
        <app-input-text
          placeholder="Ingrese nombres"
          label="Nombre"
          controlName="name"></app-input-text>
      </div>
      <div class="field">
        <app-input-text
          placeholder="Ingrese apellidos"
          label="Apellidos"
          controlName="surname"></app-input-text>
      </div>
      <div class="field">
        <app-input-text
          placeholder="Ingrese username"
          label="Username"
          controlName="username"></app-input-text>
      </div>
      <div class="field">
        <app-input-text
          placeholder="Ingrese email"
          label="Email"
          controlName="email"></app-input-text>
      </div>
      <button type="submit" pButton label="Guardar"></button>
    </div>
  </form>
}

<!-- @if (form) {
  <form
    [formGroup]="form"
    (ngSubmit)="buttonSaveUser()"
    class="flex flex-column">
    <div class="formgrid grid mb-3 mt-3">
      @if (userId === 0) {
        <app-input-select
          class="col-12 md:col-4"
          placeholder="Seleccione role"
          label="Rol"
          controlName="roleId"
          for="role"
          [options]="(roles | async) ?? []"
          id="role"
          optionLabel="name"
          optionValue="id"></app-input-select>
      }
      <app-input-text
        class="col-12 md:col-4"
        placeholder="Ingrese nombres"
        label="Nombre"
        controlName="name"></app-input-text>
      <app-input-text
        class="col-12 md:col-4"
        placeholder="Ingrese apellidos"
        label="Apellidos"
        controlName="surname"></app-input-text>
    </div>
    <div class="formgrid grid mb-3 mt-3">
      <app-input-text
        class="col-12 md:col-4"
        placeholder="Ingrese username"
        label="Username"
        controlName="username"></app-input-text>
      <app-input-text
        class="col-12 md:col-4"
        placeholder="Ingrese email"
        label="Email"
        controlName="email"></app-input-text>
      <app-input-text
        class="col-12 md:col-4"
        placeholder="Ingrese celular"
        label="Celular"
        controlName="phoneNumber"></app-input-text>
    </div>
    <div class="formgrid grid mb-3 mt-3">
      <app-input-text
        class="col-12 md:col-4"
        placeholder="Ingrese dirección"
        label="Dirección"
        controlName="address"></app-input-text>
    </div>
    <button type="submit" pButton label="Guardar" class="mt-3"></button>
  </form>
} -->
