<p-toast />
<p-pickList
  [source]="sourceServices"
  [target]="targetServices"
  sourceHeader="Disponibles"
  targetHeader="Seleccionados"
  [dragdrop]="true"
  [responsive]="true"
  [sourceStyle]="{ height: '30rem', width: '30rem' }"
  [targetStyle]="{ height: '30rem', width: '30rem' }"
  breakpoint="1400px"
  [showSourceControls]="false"
  [showTargetControls]="false"
  (onMoveToTarget)="addService($event)"
  (onMoveAllToTarget)="addService($event)"
  (onMoveToSource)="removeService($event)"
  (onMoveAllToSource)="removeService($event)"
  filterBy="name">
  <ng-template let-service pTemplate="item">
    <div class="flex flex-wrap p-2 align-items-center gap-3">
      <div class="flex-1 flex flex-column gap-2">
        <span class="font-bold">
          {{ service.name }}
        </span>
      </div>
    </div>
  </ng-template>
</p-pickList>
